extends ../layout

block content
  h1= title
  nav 
    ul 
      li 
        a(href='admin/news/add')  Dodaj
  table 
    tr 
      th id 
      th tytul 
      th akcja 
    each item, index in data
      tr 
        td=index
        td=item.title 
        td 
          a(href=`admin/news/delete/${item._id}`) Usuń 